
include utils

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/reset.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/question-answer-forms.css")
  link(rel="stylesheet" href="/stylesheets/error.css")

  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  script(src="/surprise.js" type="module")
block content
  include navbar
  div#background-gradient-1
  div#background-gradient-2
  div#surprise-div
  div.center-column
    +validationErrorSummary(errors)
    form.question-form(action='/questions/new' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Ask a question', 'value', '', 'text', 'Question...')
        div.buttons
            button(type='submit' id="new-question" ) Submit question
            a(href='/' ) Cancel
    ul.questions-list
      each question in questions
        div.user-answer
          span.user= question.User.email
          p.question-list= question.value
          //- form(action=`/questions/${question.id}/answers/new` method='get')
          button(type='submit' class="add-answer" id=`${question.id}`) Add answer
          div(id="search-result")
            each answer in question.Answers
              p= answer.value
              //- NEED TO FIX LINE 32 ABOVE!!!!!!!

  script(src="/listener.js" type="module")