include navbar

include utils

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/reset.css")
  link(rel="stylesheet" href="/stylesheets/question-answer-forms.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/" type="module" defer)
  script(src="/javascript/public/listener.js" type="module") // might throw an error and need public/listener
block content
  div.center-column
    form.question-form(action='/questions/new' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Ask a question', 'question', '', 'text', 'Question...')
        div.buttons
            button(type='submit' id="new-question" ) Submit question
            a(href='/' ) Cancel
    div.user-answer
        h2#search Search Results for "#{term}":
        if searchQuestions.length
            each question in searchQuestions
                div(class="center-column-item" id="answer-question")
                    span.user= question.User.email
                    h2#search-result= question.value
                    div(id="search-result")
                      each answer in question.Answers
                        p= answer.value
        else
          div(class="center-column-item" id="no-results")
            div(id="nope")
            p No Results Found